# =========================
# 系统文件
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE（Android Studio / VSCode）
# =========================
.idea/
*.iml
.vscode/

# =========================
# Android 构建
# =========================
.gradle/
build/
*/build/
local.properties
captures/
.externalNativeBuild/

# =========================
# Node / 前端
# =========================
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# 临时文件
# =========================
*.log
*.tmp
*.swp

# =========================
# keystore
# =========================
*.jks
*.keystore

# =========================
# APK / AAB 输出
# =========================
*.apk
*.aab

# =========================
# 环境变量
# =========================
.env
.env.*